* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, "Microsoft YaHei", sans-serif;
	color: #333;
	background: #eee;
	min-width: 1200px;
}
 ul {
	list-style: none;
}
a {
	color: #51504f;
	text-decoration: none;
}
a:hover {
	color: #09aa83;
	text-decoration: none;
}
/* header */
.headerWrap {
	width: 100%;
	height: 80px;
	background: #09aa83;
	position: fixed;
	float: left;
}
.header {
	width: 1200px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	overflow: hidden;
}
.header h1 {
	float: left;
	width: 220px;
	height: 80px;
}

.header .nav {
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 26px 0 0;
}
.header .nav #nav li {
	float: left;
}
.header .nav #nav li a {
	display: block;
	color: #fff;
	line-height: 32px;
	font-size: 14px;
	margin: 0 5px 0 0;
	height: 32px;
	padding: 0 14px;
	text-shadow: none;
	border-radius: 5px 5px 0 0;
}

.header .nav #nav li a:hover {
	background: #017c5e;
	color: #fff;
}
.header .nav #nav li.cur {
	background: #017c5e;
	color: #fff;
	border-radius: 5px;
}


.header .navuser {
	float: right;
	background: #017c5e;
	height: 35px;
	color: #1bc498;
	line-height: 35px;
	border-radius: 5px;
	padding: 0 15px;
	margin-top: 23px;
	margin-left: 10px;
}
.header .navuser a {
	color: #1bc498;
	float: left;
}
.header .navuser a:hover {
	color: #fff;
}
.header .navuser span {
	float: left;
	margin: 12px 10px 0;
	background: #1bc498;
	width: 1px;
	height: 10px;
}




.search {
	float: right;
	width: 200px;
	height: 35px;
	overflow: hidden;
	margin-top: 23px;
}
.search .input {
	width: 125px;
	height: 18px;
	float: left;
	box-shadow: 0 0 3px #222;
	padding: 0;
	margin: 5px 0 0 2px;
}
/* CSS Document */

#box {
	background-color: #F00;
	height: 820px;
	width: 1200px;
	margin:28px auto;
}
